h1 {
    color: red;
    background-color: aqua;
    font-size: 50px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    border: 8px dotted rgb(43, 20, 179);
    padding: 10px;
    margin: 10px;
    width: auto;
    height: 200px;
}